<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.won.dao.OrderMapper">

	<select id="adminOrderView" resultType="orderVO">
		select
		ono,pname,pisize,picolor,uname,ocnt,uaddress,price,ostatus,ptitlephoto,pino,odno,shopname
		from
		(
		select ono,pino,userid,
		ocnt,ostatus,pname,ptitlephoto,pisize,picolor,pistock,price,odno,shopname
		from
		(
		select
		a.ono,a.pino,shopname,userid,ocnt,ostatus,pno,pisize,picolor,pistock,odno
		from
		(
		select distinct tbl_orderdetail.ono, tbl_orderdetail.shopname,
		tbl_orderdetail.ostatus,tbl_orderdetail.pino,
		tbl_orderdetail.ocnt, tbl_order.userid,tbl_orderdetail.odno from tbl_orderdetail ,tbl_order
		where tbl_orderdetail.ono = tbl_order.ono and ostatus =0 or ostatus
		=1)a,tbl_pinfo
		where a.pino = tbl_pinfo.pino )a ,tbl_products
		where a.pno =tbl_products.pno and adminid = #{adminid}) a,tbl_member
		where a.userid = tbl_member.userid order by ono desc
	</select>

	<update id="adminOrderUpdate">
		update tbl_orderdetail
		set ostatus = 2
		where odno =
		#{odno}

	</update>

	<select id="adminOrderList" resultType="orderVO">
		SELECT	ono,	pname,	pisize,	picolor,	uname,
		ocnt,	uaddress,	price,	ostatus,	ptitlephoto,
		pino,	odno,	shopname,orderdate	FROM	(SELECT
								ono,pino,userid,ocnt,ostatus,pname,
								ptitlephoto,pisize,	picolor,pistock,
								price,	odno,	shopname,orderdate	FROM
									(SELECT a.ono,	a.pino,	shopname,	userid,
											ocnt,	ostatus,pno,pisize,	picolor,
											pistock, odno,	orderdate	FROM	(SELECT DISTINCT
													tbl_orderdetail.ono,	tbl_orderdetail.shopname,
													tbl_orderdetail.ostatus,	tbl_orderdetail.pino,
													tbl_orderdetail.ocnt,	tbl_order.userid,
													tbl_orderdetail.odno,	tbl_order.orderdate
												FROM tbl_orderdetail, tbl_order
														WHERE	tbl_orderdetail.ono = tbl_order.ono) a, tbl_pinfo
												WHERE	a.pino = tbl_pinfo.pino) a, tbl_products
										WHERE	a.pno = tbl_products.pno	AND adminid = #{adminid}) a,
												tbl_member	
									WHERE a.userid = tbl_member.userid ORDER BY ono DESC
																						LIMIT 0 , 5

	</select>

	<select id="adminOrderMoreList" resultType="orderVO">
		SELECT
		ono, pname,	pisize,	picolor,uname,ocnt,uaddress,price,ostatus,ptitlephoto,
		pino,odno,shopname,orderdate
		FROM
		(SELECT	ono,pino,userid,ocnt,ostatus,pname,ptitlephoto,pisize,picolor,
		pistock,price,odno,	shopname,orderdate	FROM	(SELECT	a.ono,
									a.pino,	shopname,userid,ocnt,ostatus,pno,pisize,
									picolor,pistock,odno,orderdate FROM		(SELECT DISTINCT
											tbl_orderdetail.ono,tbl_orderdetail.shopname,
											tbl_orderdetail.ostatus,tbl_orderdetail.pino,
											tbl_orderdetail.ocnt,tbl_order.userid,
											tbl_orderdetail.odno,tbl_order.orderdate
									FROM tbl_orderdetail, tbl_order
									WHERE tbl_orderdetail.ono = tbl_order.ono) a, tbl_pinfo
										WHERE	a.pino = tbl_pinfo.pino) a, tbl_products
										WHERE	a.pno = tbl_products.pno
												AND adminid = #{adminid}) a,
									tbl_member
									WHERE a.userid = tbl_member.userid
									ORDER BY ono DESC	LIMIT #{page} , 5

	</select>



</mapper>